@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import Roboto from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  
}
.icon {
  color: var(--primary-light);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
/* Add these styles in your CSS or styling solution */
.services-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Add these styles in your CSS or styling solution */




@layer base {
 
  body{
    @apply container bg-white  mx-auto
  }
  .button {
    @apply flex bg-[#4853a4] items-center justify-center p-4 text-xs font-semibold 
      leading-none text-white border border-none rounded-md
      cursor-pointer transition duration-200 ease-in-out;
  }

  .button::before {
    content: "📍";
    @apply mr-1 left-8 top-8;
  }

  .button:hover {
    @apply bg-[#6e74c5] border border-[#6e74c5];
  }


  .formContainer {
    @apply min-w-[300px] mx-auto p-8 bg-[var(--color-bg-default)] shadow-md 
    rounded-md mr-10  transform;
  }


  .formContainer:hover {
    transform: scale(1.0);
  }

  .formContainer label {
    @apply block mb-2 text-[var(--color-text-default)] font-bold;
  }

  .formContainer input,
  .formContainer select {
    @apply w-full py-2.5 mb-4 border border-[#555]  text-[var(--color-text-default)] px-2
    rounded-md transition-colors duration-300 focus:outline-none focus:border-[#6e74c5];
  }

  .formContainer div span {
    @apply mr-2 cursor-pointer;
  }

  .formContainer div span {
    @apply mr-2 cursor-pointer;
  }

  .formContainer div option {
    @apply cursor-pointer;
  }

  .formContainer .GenerateButton {
    @apply bg-[var(--color-bg-secondary)] text-[var(--color-text-primary)] py-3 px-6 border-none rounded-md cursor-pointer text-base transition-colors duration-300;
  }

  .formContainer .GenerateButton:hover {
    @apply bg-[#801d87];
  }

}
@layer components {
  h1 {
    @apply text-3xl font-bold mb-4; /* Replace text-gray-800 with your desired color */
  }

  h2 {
    @apply text-2xl font-bold mt-8 mb-4; /* Replace text-gray-800 with your desired color */
  }

  h3 {
    @apply text-xl font-bold mb-2; /* Replace text-gray-800 with your desired color */
  }
ul{
  @apply list-disc ml-6 mb-4
}
  p {
    @apply text-base text-gray-600 mb-4; /* Replace text-gray-600 with your desired color */
  }
  
/* Add these styles in your CSS or styling solution */


img{
  @apply w-[200px] 
}



}
