/* src/styles/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
  }
  
  .icon {
    color: var(--primary-dark);
  }
@layer base {
  .button {
    @apply flex bg-red-50 items-center justify-center p-4 text-xs font-semibold 
      leading-none 
      text-black border border-none rounded-md
       cursor-pointer transition duration-200 ease-in-out bg-white;
  }

  .button::before {
    content: "📍";
    @apply mr-1 left-8 top-8;
  }

  .button:hover {
    @apply bg-gray-100 border border-gray-300;
  }
  body {
    @apply font-[Poppins];
  }

  li {
    @apply p-4;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
  button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
  }
  .icon {
    @apply text-2xl cursor-pointer;
  }

  
 /* Apply styles to the form container */
.formContainer {
    @apply min-w-[300px] mx-auto p-8 bg-white shadow-md rounded-md mr-10;
  }
  
  /* Style form labels */
  .formContainer label {
    @apply block mb-2 text-[#333] font-bold;
  }
  
  /* Style form inputs */
  .formContainer input,
  .formContainer select {
    @apply w-full py-2.5 mb-4 border border-[#ccc] rounded-md;
  }
  
  /* Style the Top Destinations label */
  .formContainer label[for="topDestinations"] {
    @apply block mb-2 text-[#333];
  }
  
  /* Style the Interest options */
  .formContainer label[for="interests"] {
    @apply mb-2;
  }
  
  /* Style the Interest div */
  .formContainer div span {
    @apply mr-2 cursor-pointer;
  }
  
  /* Style the Transportation Type input */
  .formContainer input#transportationType {
    /* Add styles as needed */
  }
  
  /* Style the Activity Type select */
  .formContainer select#activityType {
    @apply h-full; /* Adjust the height as needed */
  }
  
  /* Style the Cuisine Type options */
  .formContainer label[for="cuisineType"] {
    @apply mb-2;
  }
  
  /* Style the Cuisine Type div */
  .formContainer div span {
    @apply mr-2 cursor-pointer;
  }
  
  /* Style the Language options */
  .formContainer label[for="language"] {
    @apply mb-2;
  }
  
  /* Style the Language option */
  .formContainer div option {
    @apply cursor-pointer;
  }
  
  /* Style the GenerateButton */
  .formContainer .GenerateButton {
    @apply bg-[#9429a0] text-white py-3 px-6 border-none rounded-md cursor-pointer text-base;
  }
  
  .formContainer .GenerateButton:hover {
    @apply bg-[#9429a0];
  }
}
